{% extends 'base.html.twig' %}

{% block title %}Welcome to Delvet{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Le but de Delvet</h1>
            <p> 
             <b>Skoll</b></p>
            <hr class="bg-dark">
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script src="../app.js"></script>
{% endblock %}
