{% extends 'base.html.twig' %}

{% block title %}Welcome to Delvet{% endblock %}

{% block body %}
      <div id="section">
            <h1>Enfin des cours gratuits !</h1>
            <p>Pour que l'Open Source soit réellement gratuit et accessible à tous</p>
       </div>

<div id="section2">
  <h2>Delvet :</h2>
  <div class="container">
    <ul>
        <li><img src="logos/cours.png" alt="">Cours</li>
        <li><img src="logos/forum.png" alt="">Forum</li>
        <li><img src="logos/groupe.png" alt="">Communauté</li>
    </ul>
  </div>
</div>
<hr>
<div id="section3">
  <h3>Notre Ambition :</h3>
  <div class="container3">
    <ul>
      <li>Title</li>
      <li>Title</li>
      <li>Title</li>
    </ul>
  </div>
</div>
<hr>

  <div id="section4">
    <div class="sign">
    <h3>Rejoignez la communauté</h3>
    <a href="#">s'inscrire</a>
  </div>
  </div>
<br><br><br><br><br><br><br><br><br><br>

{# <section class="chat">
    <div class="messages">

    </div>
    <div class="user-inputs">
      <form action="handler.php?task=write" method="POST">
        <input type="text" name="author" id="author" placeholder="Nickname ?">
        <input type="text" id="content" name="content" placeholder="Type in your message right here bro !">
        <button type="submit"> Send !</button>
      </form>
    </div>
  </section> #}

{% endblock %}

{% block javascripts %}
<script src="../app.js"></script>
{% endblock %}
