{% extends 'base.html.twig' %}

{% block title %}Welcome to Delvet{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Prez du site</h1>
            <p>lorem....</p>
        </div>
    </div>
</div>

{% endblock %}
