{% extends 'base.html.twig' %}

{% block title %}Welcome to Delvet{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Prez du site</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A neque tenetur veniam! Dolor, earum, fuga. Cumque, dolore ea exercitationem fugit maiores nihil praesentium provident quibusdam, quisquam repudiandae, sit suscipit voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur aut, commodi corporis deleniti dignissimos dolorum ducimus est expedita facilis, fuga fugit libero magni nam nostrum quidem sequi ut vitae?</p>
            <hr class="bg-dark">
        </div>
    </div>
</div>

<section class="chat">
    <div class="messages">
     
    </div>
    <div class="user-inputs">
      <form action="handler.php?task=write" method="POST">
        <input type="text" name="author" id="author" placeholder="Nickname ?">
        <input type="text" id="content" name="content" placeholder="Type in your message right here bro !">
        <button type="submit"> Send !</button>
      </form>
    </div>
  </section>

{% endblock %}

{% block javascripts %}
<script src="../app.js"></script>
{% endblock %}
