{% extends 'base.html.twig' %}

{% block title %}Welcome to Delvet{% endblock %}

{% block body %}
      <div id="section">
            <h1>Enfin des cours gratuits !</h1>
            <p>Pour que l'Open Source soit réellement gratuit et accessible à tous</p>
       </div>




{# <section class="chat">
    <div class="messages">

    </div>
    <div class="user-inputs">
      <form action="handler.php?task=write" method="POST">
        <input type="text" name="author" id="author" placeholder="Nickname ?">
        <input type="text" id="content" name="content" placeholder="Type in your message right here bro !">
        <button type="submit"> Send !</button>
      </form>
    </div>
  </section> #}

{% endblock %}

{% block javascripts %}
<script src="../app.js"></script>
{% endblock %}
