{% extends 'base.html.twig' %}

{% block title %}Welcome to Delvet{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Le but de Delvet</h1>
            <p> 
            <img id="doge1" src="pictures/doge1.jpg" alt="doge1">
            <img id="doge2" src="pictures/doge2.jpg" alt="doge2">
             <b>Skoll</b></p>
            <hr class="bg-dark">
        </div>
    </div>
</div>

<section class="chat">
    <div class="messages">
     
    </div>
    <div class="user-inputs">
      <form action="handler.php?task=write" method="POST">
        <input type="text" name="author" id="author" placeholder="Nickname ?">
        <input type="text" id="content" name="content" placeholder="Type in your message right here bro !">
        <button type="submit"> Send !</button>
      </form>
    </div>
  </section>

{% endblock %}

{% block javascripts %}
<script src="../app.js"></script>
{% endblock %}
