* {
    padding: 0;
    margin: 0;
}


#PresentationDuSite {
    margin-left: auto;
    margin-right: auto;
    height: 420px;
    width: 500px;
    margin-top: 30px;
}
footer{
  border-top: 1px solid;
}
#footer {
    display: flex;
    justify-content: center;
    
}

.logo{
    width:50px; 
    height:50px; 
}
.five{
    margin: 0 auto;
}
.fourth ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li{
    list-style-type: none;
}
.fourth li{
    padding: 1em;
}
.fourth li a img{
  border-radius:40%;
  width: 40px;
}
.first, .second, .third, .fourth {
      flex: auto;
      text-align: center;        
}
.five{
  height: 50px;
  text-align: center;
  background-color: gray;
  color:white;
}

.chat{
 width:500px;
 display: flex;
 flex-direction: column;
}
body, input, button {
  font-family: Ubuntu, sans-serif;
}

header {
  text-align: center;
}

/* ---------- Chatbox -------------- */
.messages {
  background-color: steelblue;
  border-radius: 5px;
  padding: 1em;
  height: 50vh;
  overflow: auto;
}

.message {
  color: white;
  padding: 0.3em;
}

.date, .author {
  font-weight: bold;
}

form {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

input, button {
  padding: 0.5em;
}

input {
  margin-right: 10px;
}

#author {
  width: 20%;
}

#content {
  width: 60%;
}

button[type="submit"]{
  width: 20%;
}