{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
<h1>Public chat</h1>
<ul id="chat-list"></ul>
<hr>
<textarea id="form-message" placeholder="Your public message here"></textarea>
<input type="button" id="form-submit" value="Send message"/>

{% endblock %}

{% block javascripts %}


<script>
var websocket = WS.connect("ws://127.0.0.1.8080");

websocket.on("socket/connect", function(session)){
    console.log(Succesfully Connected !);
}

websocket.on("socket/disconnect", function(error)){
    console.log("Disconnected for " +error.reason+ "with code"+error.code);
}
</script>
{% endblock %}
