{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
 <header>
    <h1>What a Dev !</h1>
  </header>
  
  <section class="chat">
  
    <div class="messages">
     
    </div>
    <div class="user-inputs">
      <form action="handler.php?task=write" method="POST">
        <input type="text" name="author" id="author" placeholder="Nickname ?">
        <input type="text" id="content" name="content" placeholder="Type in your message right here bro !">
        <button type="submit"> Send !</button>
      </form>
    </div>
  </section>
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('bundles/app/js/app.js') }}"></script>
{% endblock %}