{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}

<section class="chat">
    <div class="messages">
   
    </div>
    <div class="user-inputs">
      <form method='POST'>
        <input type="text" name="author" id="author" placeholder="Nickname ?">
        <input type="text" id="content" name="content" placeholder="Type your message here">
        <button type="submit"> Send !</button>
      </form>
    </div>
  </section>
{% endblock %}
