{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
 <header>
    <h1>Bienvenue sur le chat</h1>
  </header>
  
  <section class="chat">
  
    <div class="messages">
     
    </div>
    <div class="user-inputs">
      <form class="chatform">
        <input type="text" id="content" name="content" placeholder="Ecrivez votre message ici">
        <button type="submit"> Send !</button>
      </form>
    </div>
  </section>
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('app/js/app.js') }}"></script>
{% endblock %}
