<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to Delvet{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/style.css">

                
        {% endblock %}
    </head>
    <body>
 <!-- debut de la nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active" style="padding:5px;"> <!-- Padding Css -->
                <a class="navbar-brand" href="#">
                    <img src="web.jpg" width="100" height="30" alt="Logo du site"> <!-- Logo du site Insérer Image-->
                </a>
                </li>
                <li class="nav-item" style="padding:5px;"><!-- Padding Css -->
                    <a class="btn btn-success" href="#">Cours</a><!-- Lien à inserer-->
                </li>
                <li class="nav-item" style="padding:5px;"><!-- Padding Css -->
                    <a class="btn btn-success" href="#">Contributeurs</a><!-- Lien à inserer-->
                </li>
                <li class="nav-item" style="padding:5px;"><!-- Padding Css -->
                    <a class="btn btn-success" href="#">Mon espace</a><!-- Lien à inserer-->
                </li>
                <li class="nav-item" style="padding:5px;"><!-- Padding Css -->
                        <a class="btn btn-success" href="#">Contact</a><!-- Lien à inserer-->
                </li>
                <li class="nav-item" style="padding:5px;"><!-- Padding Css -->
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">OK</button>
                </form>
                </li>
            </ul>
        </div>
    </nav>
    {# {{ path('cour') }} #}

    <!-- fin de la nav -->

        {% block body %}{% endblock %}
<!-- début du footer-->
    <footer>

        <div id="footer">
            <div class="first">
            <h3>Createurs :</h3>
            <ul>
                <li>Michel </li>
                <li>Cedric </li>
                <li>Anthony </li>
                <li>Aurélien </li>
            </ul>
            </div>

            <div class="third">
            <h3>A propos :</h3>
            <ul>
                <li>- Condition generale </li>
                <li>- Mentions légales </li>
                <li>- Mentions légales </li>
                <li>- Mentions légales </li>
                <li>- Mentions légales </li>
            </ul>
            </div>

            <div class="fourth">
            <h3>Nous contacter :</h3>
            <ul>
        
                <li><a href="#"><img src="logos/twitter.png"  class="logo"></a></li>
                <li><a href="#"><img src="/logos/facebook.png" class="logo"></a></li>
                <li><a href="#"><img src="logos/instagram.png" class="logo"></a></li>
                <li><a href="#"><img src="logos/youtube.png"  class="logo"></a></li>
            </ul>
            </div>

        </div>

    </footer>

    {% block javascripts %}
    <script>
        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    {% endblock %}
    </body>
</html>
