{% extends 'base.html.twig' %}

{% block title %}New Courses{% endblock %}

{% block body %}
    <h1 class="text-center">Créer vos propres cours :</h1>
    <hr>
    
        {{ include('courses/_form.html.twig') }}
{% endblock %}
