{% extends 'base.html.twig' %}

{% block title %}New Courses{% endblock %}

{% block body %}
    <h1>Create new Courses</h1>

    {{ include('courses/_form.html.twig') }}

    <a href="{{ path('courses') }}">back to list</a>
{% endblock %}
