{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


<div class="container ">
    <h3> veuillez vous inscrire pour avoir access a votre profil </h3>
</div>
{% endblock %}
